/* h1{
    color: red;

}
h2{
    color: green;
}
p{
    color: grey;
} */

/* Making the entire page same color */
/* body{
    color: maroon;
} */

/* Grouping selectors in CSS */
/* h1, h2{
    color: red;
    font-weight: 100;
} */

#top{
    color: red;
    background: rebeccapurple;
}

#bottom{
    color: yellow;
    background: maroon;
}