/* h1{
    color: red;

}
h2{
    color: green;
}
p{
    color: grey;
} */

/* Making the entire page same color */
/* body{
    color: maroon;
} */

/* Grouping selectors in CSS */
/* h1, h2{
    color: red;
    font-weight: 100;
} */

/* ID SELECTORS */
/* #top{
    color: red;
    background: rebeccapurple;
}

#bottom{
    color: yellow;
    background: maroon;
} */

/* CLASS SELECTORS */
.green{
    color: green;
    background-color: pink;
}

/* #title{
    font-size: 40px;
}

.lowercase{
    text-transform: lowercase;
} */

.red{
    color: red;
    background-color: gray;
}

/* div{
    color: red;
    background-color: gray;
} */

span{
    text-transform: uppercase;
    color: tomato;
}